.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.iconDelete {
  margin-left: 20px;
  width: 100px;
  height: 100px;
}

.productBlock {
  border-bottom: 1px solid var(--color-divider);
  width: 100%;
  max-width: 600px;
  margin: 10px;
  min-height: 25px;
  cursor: pointer;
  div:first-child {
    color: white;
    background: gray;
  }
  div:nth-child(2) {
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.productBlockInfo {
  width: 200px;
  justify-content: space-between;
}

.title {
  font-size: 1.5rem;
  display: inline-block;
}
.price {
  font-size: 1.5rem;
  display: inline-block;
}

.url {
  color: var(--text-dimmed);
}

.addProduct {
  margin: 20px;
  width: 200px;
}
