.page {
    padding: 20px;
    display: flex;
    height: 100vh;
    @media (max-width: 700px) {
        padding: 10px;
    }
}

.infoContainer {
    width: 100%;
    height: 100%;
    background-color: var(--color-navbar);
    border-radius: 16px;
    overflow: hidden;
    padding: 20px;
    box-shadow: 0 0 16px 0 #00000040;
}

.titleContainer {
    display: flex;
    align-items: center;

    & p {
        margin-left: 16px;
        font-weight: var(--font-weight-wbolt);
        font-size: 18px;
        line-height: 27px;
    }
}

.commentsList {
    margin-top: 20px;
    overflow-y: scroll;
    height: calc(100% - 50px);
}

.commentsContainer {
    background-color: var(--color-base-white);
    border-radius: 16px;
    width: 100%;
    padding: 14px 16px 16px;
    display: flex;
    margin-bottom: 20px;
    @media (max-width: 800px) {
        display: block;
    }

    & .commentsDate {
        width: 9%;
        min-width: 85px;
        color: var(--color-sub-text);
        font-weight: var(--font-weight-light);
        padding-top: 2px;
    }

    & .commentsText {
        width: calc(91%);
        font-weight: var(--font-weight-bolt);
        & p {
            padding-top: 2px;
            margin: 0 20px 8px 0;
        }
        & span {
            color: var(--color-sub-text);
            line-height: 18px;
        }
    }
}

.headerContainer {
    display: flex;
    @media (max-width: 600px) {
        display: block;
    }
}

