.page {
    height: 100vh;
    background-color: var(--color-navbar);
    --header-height: 75px;

    @media (max-width: 650px) {
        --heightHeader: 55px;
    }
}

.orderContainer {
    height: 100%;
}

.image {
    margin-right: 16px;
    img {
        height: 90px !important;
        object-fit: cover;
    }
}

.header {
    height: var(--header-height);
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    @media (max-width: 650px) {
        padding: 18px;
        height: 63px;
    }
}

.header.scrollShadow {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Тень при прокрутке */
}


.header h3 {
    font-size: 18px;
    margin-right: 18px;
    line-height: 27px;
    font-weight: var(--font-weight-bolt);
}

.headerNumber {
    display: flex;
    align-items: center;
}

.close {
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
}

.close::before,
.close::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 2px;
    background-color: black;
    transform-origin: center;
}

.close::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.close::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.orderBlock {
    overflow-y: scroll;
    padding: 24px;
    height: calc(100% - var(--header-height));
    @media (max-width: 650px) {
        flex-wrap: nowrap;
        flex-direction: column;
        margin-bottom: 12px;
        padding: 18px;
    }
}

.orderHeaderTitleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 9px;

    @media (max-width: 650px) {
        display: block;
        margin-bottom: 0;
    }
}

.daysHeaderBlock {
    display: flex;
    align-items: center;

    @media (max-width: 650px) {
        margin-left: 0;
        margin-bottom: 10px;
        justify-content: space-between;
    }
}

.daysHeaderBlock p {
    margin-right: 8px;
    font-weight: var(--font-weight-bolt);
}

.headerText {
    font-size: 18px;
    font-weight: var(--font-weight-bolt);
    line-height: 27px;
    text-transform: capitalize;
}

.footerInfoBlock {
    display: flex;
    justify-content: right;
}

.footerInfo {
    width: 25%;
    min-width: 250px;
    background-color: var(--color-base-white);
    border-radius: 8px;
    border: 1px dashed #BDBDBD;
    padding: 16px;
    font-weight: var(--font-weight-bolt);
    line-height: 31px;
}

.infoItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infoPrice {
    color: var(--color-select);
}

.headerContainer,
.footerContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.headerContainer {
    background-color: var(--color-base-white);
    height: var(--heightHeader);
}

.footerContainer {
    background-color: var(--color-navbar);
    height: calc(100vh - var(--heightHeader));
}

.contentBlock {
    width: 100%;
    max-width: var(--widthPage);
}

.headerBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: var(--font-weight-bolt);
}

.headerBlock h1 {
    line-height: 48px;
    font-size: 32px;
}

.headerBlock span {
    line-height: 27px;
    font-size: 18px;
}

.footerBlock {
    padding-top: 22px;
    overflow-x: auto;
}

.footerBlock::-webkit-scrollbar {
    width: 0;
}

.starIcon {
    margin: 0 6px 0 19px;
    color: #40C677;
    font-size: 19px;
}

.orderInfoBlock {
    display: flex;
    flex-wrap: wrap;
    @media (max-width: 650px) {
        flex-wrap: nowrap;
        display: block;
    }
}

.orderItem {
    margin-bottom: 32px;
}

.removeOrder {
    display: flex;
    align-items: center;
    height: 32px;
    color: var(--color-sub-text);
    line-height: 21px;
    font-weight: var(--font-weight-bolt);
    padding: 0 32px;
    background-color: var(--color-base-white);
    margin-left: 16px;
    border-radius: 32px;
    cursor: pointer;
}

.removeOrder:hover {
    box-shadow: 0 0 8px 0 var(--color-shadow);
}

.orderItemContent {
    background-color: var(--color-base-white);
    padding: 16px;
    border-radius: 8px;
    margin-bottom: 32px;
    cursor: pointer;

    &:nth-child(1),
    &:nth-child(2) {
        margin-right: 16px;
    }

    @media (max-width: 650px) {
        display: none;
    }
}

.orderHeaderBlock {
    font-weight: var(--font-weight-bolt);
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.orderHeaderBlock h3 {
    color: var(--color-select);
    margin-left: 8px;
}

.orderHeaderBlock p {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--color-active);
    color: var(--color-base-white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.subTitleSauce {
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.orderItemBlock {
    display: flex;
    font-weight: var(--font-weight-bolt);
    font-size: 12px;
    margin-top: 10px;
}

.itemRow {
    display: flex;
    align-items: center;
    margin-top: 16px;
}

.itemRowDish {
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.sideBlock {
    border: 1px solid var(--color-navbar);
    border-radius: 8px;
    height: 60px;
    padding: 2px 16px;
}

.sideBlock span {
    line-height: 16px;
    color: var(--color-sub-text);
    font-weight: var(--font-weight-light);
}

.orderImageBlock {
    width: 150px;
    height: 90px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
}

.orderImageBlock .orderImage {
    width: 100%;
    height: 100%;
}

.orderImageBlock .orderImageChecked {
    position: absolute;
    bottom: 0;
    right: 0;
}

.submitButton {
    cursor: pointer;
    position: absolute;
    z-index: 2;
    max-height: 60px;
    bottom: 22px;
    right: 22px;
}

.buyButtonContainer {
    padding: 21px 32px;
    line-height: 21px;
    font-weight: var(--font-weight-bolt);
    display: flex;
    align-items: center;
}

.buyButtonCountDay {
    line-height: 18px;
    color: var(--color-base-black);
    background-color: white;
    border-radius: 8px;
    padding: 0 8px;
    font-size: 12px;
    font-weight: var(--font-weight-light);
    margin-left: 8px;
}

.messageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.messageContainer button {
    margin-top: 20px;
    width: 200px;
}

.orderItemContentMobile {
    display: none;
    @media (max-width: 650px) {
        display: block;
        background-color: var(--color-base-white);
        width: 100%;
        padding: 10px 16px;
        margin-bottom: 4px;
    }
}

.orderItemBlockMobile {
    display: flex;
    font-weight: var(--font-weight-bolt);
    font-size: 12px;
    margin-top: 10px;
    margin-left: 32px;
}

.sideBlockMobile {
    margin-top: 8px;
    display: flex;

    p {
        white-space: nowrap;
    }

    & span {
        margin-left: 8px;
        color: var(--color-sub-text);
        font-weight: var(--font-weight-light);
    }
}

.select {
    width: 160px;
    margin: 0 10px;

    span::first-letter {
        text-transform: uppercase;
    }
}

.button {
    height: 30px;
}
