.page {
    display: flex;
    height: 100vh;
    gap: 20px;
    flex-wrap: wrap;
}

.formBlock {
    flex: 1;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 5% 0;
}

.form {
    width: 292px;
    height: 60%;
}


.formContent {
    height: 100%;
}

.input {
    @media (max-width: 900px) {
        height: 55px;
    }
}

.imageMain {
    flex: 1;
    padding: 15px;
    max-width: 100%;
    min-width: 500px;
    object-fit: cover;
    border-radius: 30px;
    @media (max-width: 900px) {
        display: none;
    }
}

.logoImg {
    height: auto;
    max-width: 100%;
}

.subText {
    margin: 24px 0;
    font-weight: var(--font-weight-bolt);
    line-height: 18px;
    color: var(--color-sub-text);
    text-align: center;
}

.submitButton {
    width: 100%;
    height: 60px;
    margin-top: 10px;
    background-color: var(--color-select);

    &:hover {
        background-color: var(--color-select);
        -webkit-box-shadow: 0 0 16px 0 #00000040;
        box-shadow: 0 0 16px 0 #00000040;
    }

    p {
        font-size: 14px;
        margin-left: 18px;
        font-weight: var(--font-weight-wbolt);
    }
}

.submitButton {
    width: 100%;
    height: 60px;
    background-color: var(--color-select);

    &:hover {
        background-color: var(--color-select);
        -webkit-box-shadow: 0 0 16px 0 #00000040;
        box-shadow: 0 0 16px 0 #00000040;
    }

    p {
        font-size: 14px;
        margin-left: 18px;
        font-weight: var(--font-weight-wbolt);
    }
}

.sendCodeButton {
    width: 100%;
    height: 60px;
    background-color: var(--color-navbar);
    margin-top: 15px;

    &:hover {
        background-color: var(--color-navbar);
        -webkit-box-shadow: 0 0 16px 0 #00000040;
        box-shadow: 0 0 16px 0 #00000040;
    }

    p {
        color: black;
        font-size: 14px;
        margin-left: 18px;
        font-weight: var(--font-weight-wbolt);
    }
}

.modalMessageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forgotPass {
    color: var(--color-base-blue);
    text-align: center;
    cursor: pointer;

    &:hover {
        color: var(--color-base-dark-blue);
    }
}
