.page {
    padding: 20px;
    display: flex;
    height: 100vh;
    @media (max-width: 700px) {
        padding: 10px;
    }
}

.container {
    width: 100%;
    height: 100%;
    background-color: var(--color-base-white);
    border-radius: 16px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 0 16px 0 #00000040;
}

.header {
    padding: 15px;
    transition: box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
}

.buttonTop {
    background-color: var(--color-navbar);
    color: var(--color-base-black);
    &:hover {
        background-color: var(--color-navbar);
    }
}

.addSwg {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.form {
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    overflow-y: scroll;
}

.field {
    width: 100%;
    max-width: 600px;
}

.numberField {
    display: inline-block;
    width: 100px;
}

.button {
    margin: 30px 0;
    display: flex;
    justify-content: center;
}

.collapse {
    background: var(--color-base-white);
}

.messageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    & button {
        margin-top: 20px;
        width: 200px;
    }
}

.search {
    margin-left: 15px;
    width: 300px;
}

.table {
    & td {
        padding: 0 8px !important;

        @media (max-width: 800px) {
            padding: 2px 8px !important;
        }
    }
}

.img {
    display: initial;
    width: 38px;
    height: 38px;
    margin: 5px 0 0 10px;
    object-fit: cover;
    border-radius: 8px;
    z-index: 2;
    top: 0
}


.actionLink {
    color: var(--color-base-blue);
    &:hover {
        color: var(--color-base-white);
    }
}
