.home {
    display: flex;
    @media (max-width: 800px) {
        flex-direction: column;
    }
    --heightButton: 40px;
}

.navbar {
    background-color: var(--color-navbar);
    min-width: 160px;
    height: 100vh;
    padding: 32px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    @media (max-width: 800px) {
        display: none;
    }
}

.weekList {
    margin: 20px 0;
}

.headerBlock {
    padding-top: 23px;
    overflow: hidden;
    @media (max-width: 800px) {
        padding: 10px 10px 0;
    }
}

.headerMobileWrapper {
    display: none;
    @media (max-width: 800px) {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-navbar);
        border-radius: 19px;
        height: 50px;
        padding-top: 10px;
        margin: 15px 0;
    }
}

.headerMobile {
        max-width: max-content;
        height: 70px;
        display: flex;
        overflow-x: auto;
        white-space: nowrap;
        flex-wrap: nowrap;
        padding: 10px 5px 5px;

        gap: 5px;
        -ms-overflow-style: none;
        &::-webkit-scrollbar {
            display: none;
        }
}

.daysBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: var(--heightButton);
    width: 130px;
    font-weight: var(--font-weight-bolt);
    cursor: pointer;
    border-radius: 19px;
    user-select: none;
    transition: all 0.6s ease;
    font-size: 14px;
    margin-bottom: 26px;
    position: relative;

    @media (max-width: 800px) {
        margin-bottom: 0;
    }

    &:hover {
        background: var(--color-base-white);
        box-shadow: 0 0 8px 0 var(--color-shadow);
    }
    img {
        transition: all 0.5s ease;
        width: 0;
    }
}

.daysBlockMobile {
    flex: 0 0 auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--heightButton);
    width: 130px;
    font-weight: var(--font-weight-bolt);
    cursor: pointer;
    border-radius: 19px;
    user-select: none;
    transition: all 0.6s ease;
    font-size: 14px;

    @media (max-width: 800px) {
        font-size: 12px;
        width: 110px;
    }

    &:hover {
        background: var(--color-base-white);
        box-shadow: 0 0 8px 0 var(--color-shadow);
    }
    img {
        transition: all 0.5s ease;
        width: 0;
    }
}

.selectDay {
    background: var(--color-base-active);
    color: var(--color-base-white);
    &:hover {
        background: var(--color-base-active);
    }
    img {
        width: 14px;
        margin-right: 8px;
    }
}

.closeDay {
    background: var(--color-select);
    color: var(--color-base-white);

    &:hover {
        background: var(--color-select);
    }
    img {
        width: 0;
    }
}

.blockDay {
    background: var(--color-sub-text);
    color: var(--color-base-black);
    pointer-events: none;
}

.titleText {
    font-size: 18px;
    color: var(--color-base-select);
    font-weight: var(--font-weight-bolt);

    @media (max-width: 800px) {
        font-size: 14px;
    }
}

.activeTitleText {
    color: var(--color-select);
}

.page {
    padding: 0 23px 23px;
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    position: relative;

    @media (max-width: 800px) {
        padding: 0;
    }
}

.productSection {
    opacity: 0.3;
    pointer-events: none;
    user-select: none;
    @media (max-width: 800px) {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.sss {
    padding-bottom: 100px;
}

.productSectionActive {
    opacity: 1;
    transition: all 1.2s ease;
    pointer-events: all;
}

.hidePrice {
    opacity: 0;
}

.titleNumber {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: var(--color-base-active);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-base-white);
    font-weight: var(--font-weight-bolt);
    font-size: 18px;
    margin-right: 8px;
    transition: all 0.4s ease;

    @media (max-width: 800px) {
        font-size: 14px;
        width: 20px;
        height: 20px;
    }
}

.activeTitleNumber {
    background: var(--color-active);
}

.pageTitleBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: var(--font-weight-bolt);
    font-size: 18px;
    @media (max-width: 800px) {
        font-size: 14px;
    }
}

.titleDish {
    display: flex;
    align-items: center;
    font-weight: var(--font-weight-bolt);
    font-size: 18px;

    @media (max-width: 800px) {
        font-size: 14px;
    }
}

.priceDish {
    margin-left: 8px;
    color: var(--color-select);
    font-weight: var(--font-weight-bolt);
    font-size: 18px;
    @media (max-width: 800px) {
        font-size: 14px;
    }
}

.titleCombo {
    display: flex;
    align-items: center;

    @media (max-width: 800px) {
        display: none;
    }
}

.titleComboMobile {
    display: none;
    font-weight: var(--font-weight-bolt);
    font-size: 14px;

    @media (max-width: 800px) {
        display: flex;
        align-items: center;
    }
}

.pageList {
    margin: 16px 0 34px;
    gap: 16px;
    display: flex;
    flex-wrap: wrap;

    @media (max-width: 800px) {
        flex-wrap: nowrap;
        overflow-x: scroll;
        margin: 5px 0 10px;
    }
}

.productBlock {
    /*margin-right: 16px;*/
    width: 272px;
    margin-bottom: 23px;
    cursor: pointer;
    position: relative;

    p {
        margin-top: 5px;
    }
    @media (max-width: 800px) {
        width: 181px;
        margin-bottom: 10px;
    }
}

.imageProductBlock {
    width: 272px;
    height: 184px;
    border-radius: var(--border-radius);
    overflow: hidden;
    transition: all 0.2s ease;
    box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.3);

    &:hover {
        box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.5);
    }

    @media (max-width: 800px) {
        width: 181px;
        height: 109px;
    }
}

.activeImageProduct {
    border-bottom: var(--color-base-active) solid 5px;

    @media (max-width: 800px) {
        border-bottom: var(--color-base-active) solid 3px;
    }
}

.selectImageProduct {
    border: var(--color-active) solid 5px;
    @media (max-width: 800px) {
        border: var(--color-active) solid 3px;
    }
}

.imageProduct {
    width: 100%;
    height: auto;
    object-fit: cover;
    position: relative;

    img {
        height: 184px !important;
        object-fit: cover;
        @media (max-width: 800px) {
            height: 109px !important;
        }
    }

    @media (max-width: 800px) {
        font-size: 14px;
        width: 181px;
        height: 109px;
    }
}

.imageResize {
    width: 16px;
    height: 16px;
}

.imageActive {
    z-index: 1;
    position: absolute;
    top: 83px;
    right: 0;

    @media (min-width: 800px) {
        top: 155px;
    }
}

.imageSelect {
    z-index: 1;
    position: absolute;
    top: 89px;
    right: 2px;

    @media (min-width: 800px) {
        top: 162px;
    }
}

.orderCount {
    position: absolute;
    top: -10px;
    right: 0;
    z-index: 20;
}

.imageResizeBlock {
    z-index: 1;
    position: absolute;
    right: 8px;
    top: 8px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--color-base-white);
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageDescription {
    font-size: 12px;
    font-weight: var(--font-weight-bolt);
    line-height: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.popoverContent {
    width: 546px;
    background: var(--color-navbar);
    display: flex;
    padding: 10px;
    z-index: 14;
    @media (max-width: 800px) {
        display: block;
        width: 100%;
    }
}
.popoverCategories {
    width: 200px;
    margin-right: 32px;
    @media (max-width: 800px) {
        margin-right: 0;
        width: 300px;
    }
}

.popoverChoose {
    width: 290px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.allergenHover {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.allergenHover .tooltip {
    visibility: hidden;
    width: 120px;
    background-color: var(--color-base-active);
    color: var(--color-base-white);
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Положение всплывающего окна */
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.allergenHover:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.allergenHover:hover .imageAllergen {
    fill: var(--color-base-active);
}

.titlePopover {
    font-size: 12px;
    font-weight: var(--font-weight-bolt);
    line-height: 18px;
    margin-bottom: 8px;
}

.subTextPopover {
    font-size: 12px;
    line-height: 18px;
    font-weight: var(--font-weight-normal);
    @media (max-width: 800px) {
        width: 280px;
    }
}

.customPopover {
    box-shadow: 0 0 16px 0 #00000033;
    border-radius: var(--border-radius);
}

.popoverSauceBlock {
    background: var(--color-base-white);
    padding: 16px;
    border-radius: var(--border-radius);
    margin-top: 8px;
    span {
        margin-top: 6px;
        font-size: 12px;
    }

    @media (max-width: 800px) {
        margin-bottom: 15px;
    }
}

.blockAllergen {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
    flex-direction: column;
    position: relative;
}

.imageAllergen {
    height: 24px;
    width: 24px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.imageAllergen:nth-child(5n) {
    margin-right: 0;
}

.imageAllergen:nth-last-child(-n+5) {
    margin-bottom: 16px;
}


.sideDishBlock {
    margin: 16px 0 14px;
}

.sideDishRadioItem {
    align-items: center;
    width: 100%;
    padding: 4px;
    border-radius: 8px;
    margin-bottom: 10px;

    @media (max-width: 800px) {
        margin-bottom: 5px;
    }

    & .sideDishRadioContent {
        display: flex;
        align-items: center;
        & span {
            margin-left: 8px;
            font-weight: var(--font-weight-light);
            max-width: 200px;
        }
        .radioText {
            width: 200px;
            margin-left: 8px;
        }
    }
}

.cartBox {
    width: 56px;
    height: 56px;
    background-color: var(--color-base-white);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.6s ease;
    opacity: 1;

    &:hover {
        background: var(--color-base-white);
        box-shadow: 0 0 8px 0 var(--color-shadow);
    }
}

.cartBoxDisabled {
    opacity: 0;
    pointer-events: none;
    user-select: none;
}

.avatar {
    margin-top: 32px;
}

.calories {
    display: flex;
    align-items: center;
    margin-top: 5px;
    & p {
        margin-left: 8px;
    }
}

.footerButtonBlock {
    position: fixed;
    display: flex;
    bottom: 22px;
    z-index: 10;
    right: 22px;
    @media (max-width: 800px) {
        display: none;
    }
}

.buttonContainer {
    padding: 0 20px;
    display: flex;
    align-items: center;
    & p {
        margin-right: 10px;
    }
}

.nextButton {
    z-index: 20;
    background-color: var(--color-navbar);
    padding: 21px 32px;
    height: var(--heightButton);
    &:hover {
        background-color: var(--color-navbar);
    }
}

.checkoutButton {
    z-index: 20;
    background-color: var(--color-base-active);
    margin-left: 25px;
    padding: 0 20px;
    height: var(--heightButton);
}

.modalPopupInfo {
    display: flex;
}

.mobileFooterBlock {
    display: none;
    @media (max-width: 800px) {
        width: 100%;
        height: 66px;
        box-shadow: 0 0 15px 0 #080B3029;
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 13;
        border-radius: 32px 32px 0 0;
        padding: 10px 56px;
        background-color: var(--color-base-white);
    }
}

.mobileFooterButton {
    width: 61px;
    height: 61px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-base-active);
    margin-bottom: 10px;
}

.buttonContainerMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 36px;
    height: 36px;
    padding: 8px !important;
    border-radius: 50%;
    background-color: var(--color-navbar) !important;
}

.avatarMobileText {
    margin-top: 2px;
    font-size: 10px;
    text-align: center;
    line-height: 14px;
    font-weight: var(--font-weight-light);
    user-select: none;
}


.buttonContainerCenter {
    margin-bottom: 33px;
}

.descriptionBlock {
    display: block;
    @media (max-width: 800px) {
        display: flex;
    }
}

.close {
    display: none;
    @media (max-width: 800px) {
        display: block;
        width: 20px;
        height: 20px;
        position: relative;
        cursor: pointer;
    }
}

.close::before,
.close::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 2px;
    background-color: black;
    transform-origin: center;
}

.close::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.close::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.avatarMobile {
    width: 64px;
}

.sideDishDescription {
   width: 200px;

    & p {
        text-align: justify;
        word-break: break-word;
    }
}




